body {
  background-color: #ffffff;
  color: #000000;
  font-size: 16px;
}

nav {
  background-color: #106BA3;
  float: left;
  position: fixed;
  width: 100%;
}

.logo {
  margin: 20px;
  width: 100px;
}

.large-pic {
  width: 100%;
}

.medium-pic {
  width: 70%;
}

.left, .right {
  float: left;
  width: 50%;
}

.right {
  float: right;
  font-size: 100%;
}

a:link { color:#ffffff; text-decoration: none } /* unvisited */
a:hover { color:#000000; text-decoration: none } /* mouse over */

ul {
  list-style-type: none;
  float: right;
}

li {
  float: right;
  padding: 30px;
}

article {
  padding-top: 100px;
}

.container {
  margin: 0 auto;
  width: 50%;
}

figure {
  padding-bottom: 40px;
}

h1 {
  font-size: 225%;
  font-weight: bold;
  padding-bottom: 16px;
}

h3 {
  font-size: 130%;
  line-height: 125%;
  padding-bottom: 16px;
}

.author {
  padding-bottom: 40px;
}

.story-text {
  font-size: 100%;
  line-height: 135%;
}

p {
  padding-bottom: 16px;
}
